# Question 1

In [52]:
for i in range (2000,3001):
    if i % 7 == 0:
        if i % 5 == 0:
            pass
        else:
            print(i, end=',')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,

# Question 2

In [53]:
print("Please enter your first name and last name below:")
first_name = input()
last_name = input()
full_name = [first_name,last_name]
full_name = " ".join(full_name)
print(f"Your name in reverse order: {full_name[::-1]}")

Please enter your first name and last name below:
Yarra
Gopichand
Your name in reverse order: dnahcipoG arraY

# Question 3

In [54]:
radius = 12
pi = 3.1415
volume = (4/3) * pi * radius ** 3
print (f"Volume of sphere: {volume} cm^3")

Volume of sphere: 7238.016 cm^3